<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLoginBoot</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarLoginBoot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCadastro</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarForm</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarEndereco</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarParceiros</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarParceiros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLocal</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarHistorico</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarHistorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarVacina</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarVacina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarRegistro</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarRegistroVacina</servlet-name>
        <servlet-class>br.com.senaces.servlets.ValidarRegistroVacina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLoginBoot</servlet-name>
        <url-pattern>/ValidarLoginBoot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCadastro</servlet-name>
        <url-pattern>/ValidarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarForm</servlet-name>
        <url-pattern>/ValidarForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarEndereco</servlet-name>
        <url-pattern>/ValidarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarParceiros</servlet-name>
        <url-pattern>/ValidarParceiros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLocal</servlet-name>
        <url-pattern>/ValidarLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarHistorico</servlet-name>
        <url-pattern>/ValidarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarVacina</servlet-name>
        <url-pattern>/ValidarVacina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarRegistro</servlet-name>
        <url-pattern>/ValidarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarRegistroVacina</servlet-name>
        <url-pattern>/ValidarRegistroVacina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
